<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="heading">
                    <label for="field">Text in English</label>
                    <hr>
                    <textarea [(ngModel)]="englishText" rows="6" cols="50"></textarea><br>
                    <button (click)='clicked()' class="btn btn-primary mybutt">Translateth</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="heading">
                <label for="field">Translated Text</label>
                <hr>
                <p class="quote">{{shakespeareText}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <p class="display-4">Saved Translations </p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">English</th>
                <th scope="col">Translated</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let e of ar'>
                <td>{{e.eng}}</td>
                <td>{{e.translated}}</td>

            </tr>
        </tbody>
    </table>
</div>